{% extends 'base2.html' %}
{% load static %}

{% block pageContent %}



  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Us
              </h2>
            </div>
            <p>
              Welcome to our platform! We’re here to help you stay informed about flood levels in real time, making it easier to stay safe and make smart decisions.
            </p>
            <p>
              Our goal is to provide a simple, reliable space where users with different roles can work together smoothly. Whether you’re an admin managing important tasks or just checking flood updates, we’ve built our tools to meet your needs.
            </p>
            <p>
              We focus on making our platform easy to use, secure, and helpful for everyone. We ensure everything works well and keeps improving as your needs change.
            </p>
            <p>
              Thank you for choosing us to help you stay prepared and safe. Let’s work together for a better future!
            </p>
            <!-- <a href="">
              Read More
            </a> -->
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static 'images/about-img.jpg' %}" alt="">
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- end about section -->

{% endblock pageContent %}