{% extends 'base2.html' %}
{% load static %}

{% block headerContent %}
    <title>Historical Data</title>
    <link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
{% endblock headerContent %}

{% block pageContent %}
<div class="container" style="max-width: 700px; margin: 0 auto;">
    <h1 class="text-center" style="margin-top: 40px;">Historical Data</h1>
    <h5 class="text-center" style="margin-right: 1000px; margin-top: 20px;" >Location:</h5>
    <form method="post" id="location-form">
        {% csrf_token %}
        <div id="search-fields">
            <div class="autocomplete-container">
                <div id="autocomplete-1" class="autocomplete">
                    <input class="autocomplete-input form-control" name="location" />
                    <ul class="autocomplete-result-list"></ul>
                </div>
            </div>
        </div>
        <button type="button" id="add-location-btn" class="btn btn-secondary d-block mx-auto" style="margin-top: 15px; ">Add Second Location</button>
        {% for field in form %}
            {% if field.name != 'location' %}
                <div class="form-group">
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endif %}
        {% endfor %}
        <div class="quote_btn-container">
            <button type="submit" class="quote_btn btn btn-primary d-block mx-auto">Generate Graphs</button>
        </div>
    </form>

    {% if line_plot %}
        <div class="center-container" style="margin-top: 15px;">
            <h2 class="text-center">Line Plot</h2>
            <img src="data:image/png;base64,{{ line_plot }}" alt="Line Plot" class="img-fluid mx-auto d-block">
        </div>
    {% endif %}

    {% if box_plots %}
    <div class="center-container" style="margin-top: 15px;">
        <h2 class="text-center">Box Plots</h2>
        {% for box_plot in box_plots %}
            <div class="text-center">
                <img src="data:image/png;base64,{{ box_plot }}" alt="Box Plot" class="img-fluid mx-auto d-block">
            </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if bar_plot %}
    <div class="center-container">
        <h2 class="text-center">Bar Plot</h2>
        <img src="data:image/png;base64,{{ bar_plot }}" alt="Bar Plot" class="img-fluid mx-auto d-block">
    </div>
    {% endif %}
</div>

<script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>
<script>
    let counter = 1;

    new Autocomplete(`#autocomplete-${counter}`, {
        search: input => {
            const url = '/map/search/?location=' + input;
            return new Promise(resolve => {
                fetch(url)
                    .then(response => response.json())
                    .then(data => resolve(data.data));
            });
        }
    });

    document.getElementById('add-location-btn').addEventListener('click', () => {
        counter++;

        const newAutocomplete = document.createElement('div');
        newAutocomplete.className = 'autocomplete-container';
        newAutocomplete.innerHTML = `
            <div id="autocomplete-${counter}" class="autocomplete">
                <input class="autocomplete-input form-control" name="location-${counter}" />
                <ul class="autocomplete-result-list"></ul>
            </div>
        `;

        document.getElementById('search-fields').appendChild(newAutocomplete);

        new Autocomplete(`#autocomplete-${counter}`, {
            search: input => {
                const url = '/map/search/?location=' + input;
                return new Promise(resolve => {
                    fetch(url)
                        .then(response => response.json())
                        .then(data => resolve(data.data));
                });
            }
        });
    });
</script>
{% endblock pageContent %}
