{% extends 'base.html' %}
{% load static %}

{% block headerContent %}
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'css/style-login.css' %}">
{% endblock headerContent %}



{% block pageContent %}
<div class="login-page-container">
  <div class="center">
    <h1>Login</h1>
    <form method="POST" autocomplete="off">
      {% csrf_token %}
      <div class="txt_field" >
        <input type="text" name="username" required>
        <span></span>
        <label>Username</label>
      </div>
      <div class="txt_field">
        <input type="password" name="password" required>
        <span></span>
        <label>Password</label>
      </div>
      <input type="submit" value="login">
      <div class="signup_link">
        Not a member? <a href="{% url 'register-customer' %}">Signup</a>
        <p>Forgot your Password? <a href="#">Reset Password</a></p>
      </div>
    </form>
  </div>
</div>

{% endblock pageContent %}


  